My workflow.json.json
{"updatedAt":"2026-04-14T16:42:54.457Z","createdAt":"2026-04-14T16:07:53.363Z","id":"q6LpSWkfgoUQKO1T","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"29dbf158-0488-442f-bde6-1165b4761dd9","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,0],"id":"5886832d-1f08-4f1d-879c-52b505c4ec46","name":"Get many workflows","credentials":{"n8nApi":{"id":"NdgjGUN3gbbZqCf8","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[416,0],"id":"fed3d7fd-8f94-48d3-b88f-ee11a5c13103","name":"Convert to File"},{"parameters":{"name":"={{ $binary.data.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[624,0],"id":"4fba3f43-3ab3-4fdb-9063-bed3a18f6f47","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"YJIqlFNIeyDOS9WE","name":"Google Drive account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"kentaidsai","mode":"name"},"repository":{"__rl":true,"value":"kentaidsai.github.io","mode":"name"},"binaryData":true,"commitMessage":"update"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[656,192],"id":"237d6213-22a8-4df2-8fc0-c0dee305393e","name":"Edit a file","webhookId":"906bfa52-a0fe-47f7-8834-3c91c958137c","credentials":{"githubOAuth2Api":{"id":"0QUDgbLJFj5OmdGt","name":"GitHub account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Edit a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46940916-b149-44c3-9df0-06ab55c5703b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-14T16:07:53.368Z","createdAt":"2026-04-14T16:07:53.368Z","role":"workflow:owner","workflowId":"q6LpSWkfgoUQKO1T","projectId":"ObpVQXar0U1aXmZZ"}],"activeVersion":null,"tags":[]}