My workflow.json.json
{"updatedAt":"2026-04-14T16:54:05.124Z","createdAt":"2026-04-14T16:07:53.363Z","id":"q6LpSWkfgoUQKO1T","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"29dbf158-0488-442f-bde6-1165b4761dd9","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,0],"id":"5886832d-1f08-4f1d-879c-52b505c4ec46","name":"Get many workflows","credentials":{"n8nApi":{"id":"NdgjGUN3gbbZqCf8","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[416,0],"id":"fed3d7fd-8f94-48d3-b88f-ee11a5c13103","name":"Convert to File"},{"parameters":{"name":"={{ $binary.data.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"root","mode":"list"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[576,-288],"id":"4fba3f43-3ab3-4fdb-9063-bed3a18f6f47","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"YJIqlFNIeyDOS9WE","name":"Google Drive account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"kentaidsai","mode":"name"},"repository":{"__rl":true,"value":"kentaidsai.github.io","mode":"name"},"filePath":"={{ $binary.data.fileName }}.json","binaryData":true,"commitMessage":"update"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1040,192],"id":"237d6213-22a8-4df2-8fc0-c0dee305393e","name":"Create a file","webhookId":"906bfa52-a0fe-47f7-8834-3c91c958137c","credentials":{"githubOAuth2Api":{"id":"0QUDgbLJFj5OmdGt","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"kentaidsai","mode":"name"},"repository":{"__rl":true,"value":"kentaidsai.github.io","mode":"name"},"filePath":"={{ $binary.data.fileName }}.json","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[608,-80],"id":"8feb4de8-4361-4732-905d-69e83b89fd9f","name":"Get a file","webhookId":"a1fbee7e-1c9d-44a6-a747-8eb6c89ceb9f","alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"0QUDgbLJFj5OmdGt","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6ec7d1c4-4be0-488e-b7a5-8707fa3d4383","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,-80],"id":"7b7aff23-59e6-4f99-a202-534238d77d91","name":"If","alwaysOutputData":false},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"kentaidsai","mode":"name"},"repository":{"__rl":true,"value":"kentaidsai.github.io","mode":"name"},"filePath":"={{ $binary.data.fileName }}.json","binaryData":true,"commitMessage":"upfate "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1152,-256],"id":"60ea5500-39db-461e-93c1-3eb6992d52d0","name":"Edit a file","webhookId":"f29bea42-db46-427e-a5d2-6a58f586240d","credentials":{"githubOAuth2Api":{"id":"0QUDgbLJFj5OmdGt","name":"GitHub account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[864,192],"id":"8e52873d-41b3-4bc9-a1bf-1df03fe5c70c","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[912,-256],"id":"32198938-a72d-4965-a662-dcb573e2eace","name":"Merge1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Get a file","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Merge1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12f192dd-b9de-49d2-aa73-faa2bc99c3bd","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-04-14T16:07:53.368Z","createdAt":"2026-04-14T16:07:53.368Z","role":"workflow:owner","workflowId":"q6LpSWkfgoUQKO1T","projectId":"ObpVQXar0U1aXmZZ"}],"activeVersion":null,"tags":[]}